.admin-dashboard {
  display: flex;
  margin-top: 9cm;
}

.side-panel {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin: 10px 0 5px;
  font-size: 18px;
}

.profile-role {
  color: #888;
  font-size: 14px;
}

.side-panel ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.side-panel li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.side-panel li:hover {
  background-color: #f4f4f4;
}

.logout-section {
  margin-top: auto;
  margin-bottom: 70px;
  margin-right: 130px;
}

.logout-section button {
  width: 2cm;
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-section button:hover {
  background-color: #e60000
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  width: 22%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.card-count {
  font-size: 24px;
  font-weight: bold;
}

#recent-orders,
#recent-customers {
  margin-bottom: 20px;
}

#recent-orders table {
  width: 100%;
  border-collapse: collapse;
}

#recent-orders th,
#recent-orders td {
  border: 1px solid #ddd;
  padding: 8px;
}

#recent-orders th {
  background-color: #f4f4f4;
}

#recent-customers ul {
  list-style-type: none;
  padding: 0;
}

#recent-customers li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}